{% extends 'base.html' %}

{% block content %}


<div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container">
      <h1 class="display-4">Unveiling the Future of Tech</h1>
      <p class="lead">DevInsight is your go-to destination for staying up-to-date with the latest trends and developments in the ever-evolving tech industry. Our mission is to empower developers, programmers, and tech enthusiasts by providing insightful news, in-depth analysis, and comprehensive tutorials on various programming languages and technologies.At DevInsight, we understand the importance of continuous learning and skill development. That's why we offer a wealth of tutorials covering popular programming languages like Java, Python, JavaScript, and many more. Our easy-to-follow guides are designed to cater to developers of all skill levels, from beginners to seasoned professionals.By automatically generating initial documentation for detected errors, our AI system saves valuable time and ensures consistency across reports</p>
    </div>
  </div>

    {% endblock %}