<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevInsight</title>
    <link rel="stylesheet" href="index.css">
    
</head>
<body>
    <nav class="navbar" background>
        <div class="container main-nav">
            <div class="logo"><a href="#" class="logo-pic">
                <img class="images" src="logo.png.png" alt="code insight">
                </a></div>
                <div class="nav-links">
                    <ul>
                        <li><a href="#" class="hover-links">Home</a></li>
                        <li><a href="#" class="hover-links" >About</a></li>
                        <button class="btn"><a href="lnr.html">Login or Register</a></button>
                    </ul>
                </div>
        </div>
        </nav>
        <section class="background container2">
            <div class="mainbox">
            <div class="firsthalf">
                <p class="bigtext">Welcome To Code Insight</p>
            <div class="buttons"><button class="btn"><a href="#">Get started</a></button></div>
            </div>
            <div class="secondhalf">
                <img src="frontpage.png" alt="Tech Image">
            </div></div>
        </section>
    
</body>
</html>
